.App {
  background-color: transparent;
  text-align: center;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 75vw;
    max-width: 600px;
  }
}

.App-main {
  width: 75vw;
  max-width: 600px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}
